.best-selling {
    
    &__title {
        font-size: 32px;
        line-height: 44px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0px;
        
        @media (min-width: 768px) {
            font-size: 45px;
            line-height: 62px;
        }
        
        &::before,
        &::after {
            display: inline-block;
            width: 41px;
            height: 3px;
            background-color: #000;
            margin: 9px;
            transform: translateY(-2px);
            content: '';
        }
    }
    
    &__gender-swap {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 20px;
        margin-bottom: 25px;
        
        @media (min-width: 768px) {
            gap: 80px;
            margin-top: 62px;
            margin-bottom: 60px;
        }
        
        @media (min-width: 1728px) {
            margin-bottom: 80px;
        }
        
        &--man {
            width: 141px;
            height: 35px;
            font-size: 14px;
            line-height: 19px;
            cursor: pointer;
            
            @media (min-width: 768px) {
                width: 219px;
                height: 79px;
                font-size: 28px;
                line-height: 39px;
            }
        }
        
        &--woman {
            width: 141px;
            height: 35px;
            font-size: 14px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.8);
            border: solid;
            border-width: 2px;
            cursor: pointer;
            background-color: #fff;
            
            @media (min-width: 768px) {
                width: 219px;
                height: 79px;
                font-size: 28px;
                line-height: 39px;
            }
        }
    }
    
    &__product-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-bottom: 25px;
        
        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
            margin-bottom: 40px;
        }
        
        @media (min-width: 1728px) {
            display: grid;
            gap: 69px 29px;
            grid-template-columns: repeat(3, minmax(373px, 510px));
            grid-template-rows: repeat(2, 524px);
            margin-bottom: 85px;
        }
    }
    
    &__product {
        width: 100%;
        
        &--default {
            @media (min-width: 768px) and (max-width: 1727px) {
                width: 47%;
            }
        }
        
        &--1-3 {
            grid-column: span 2;
            grid-row: span 2;
        }
    }
    
    &__show-all {
        box-shadow: 0px 3px 2px 0px #00000005, 
        0px 7px 5px 0px #00000007,
        0px 13px 10px 0px #00000009,
        0px 22px 18px 0px #0000000B,
        0px 42px 33px 0px #0000000D,
        0px 100px 80px 0px #00000012;
        margin: 0 auto;
    }
    
    &__catalog-list {
        @include clear-list;
    }
}