.external-links {
    
    &__row-container {
        position: relative;
        background-color: black;
        height: 63px;
        width: 100%;
        overflow: hidden;
        
        @media (min-width: 768px) {
            height: 131px;
        }
        
        @media (min-width: 1728px) {
            height: 162px;
        }
    }
    
    &__list {
        @include clear-list;
        
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 21px 0px;
        
        @media (min-width: 768px) {
            margin: 44px 0px 44px -15px;
        }
        
        @media (min-width: 1728px) {
            margin: 56px 0px 66px -15px;
        }
    }
    
    &__item img {
        height: 16px;
        
        @media (min-width: 768px) {
            height: 40px;
        }
    }
    
    &__item a {
        padding: 22px 20px;
        
        @media (min-width: 768px) {
            padding: 70px 100px 44px 100px;
        }
        
        @media (min-width: 1728px) {
            padding: 81px 100px 63px 100px;
        }
    }
}