.header {
    
    &__container {
        display: flex;
        align-items: center;
        margin-top: 15px;
        
        @media (min-width: 768px) {
            margin-top: 21px;
        }
        
        @media (min-width: 1728px) {
            margin-top: 77px;
        }
    }
    
    &__menu {
        @include clear-list;
        
        display: flex;
    }
    
    &__nav {
        
        @media (max-width: 767px) {
            display: none;
        }
    }
    
    &__item {
        font-size: 16px;
        line-height: 24px;
        a {
            padding: 10px 12px;
        }
        
        @media (min-width: 1728px) {
            padding: 10px 18px;
        }
    }
    
    &__button {
        @include clear-button;
        
        img {
            @media (min-width: 768px) {
                width: 29px;
                height: 27px;
            }
        }
    }
    
    &__burger {
        @include clear-button;
        
        margin-left: 28px;
        
        @media (min-width: 768px) {
            display: none;
        }
    }
    
    &__logo {
        margin-right: auto;
    }
    
    &__interaction {
        display: flex;
        gap: 28px;
        margin-left: auto;
        
        @media (min-width: 768px) {
            gap: 44px;
        }
    }
}
