.product-card {
    position: relative;
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #DEDEDE;
    padding: 40px 19px 24px 19px;
    min-width: 300px;
    
    @media (min-width: 768px) {
        padding: 30px 28px 30px 40px;
    }
    
    @media (min-width: 1728px) {
        padding: 28px 40px 28px 40px;
    }
    
    &--large {
        @media (min-width: 768px) {
            padding: 60px 40px 50px 40px;
            width: 100%;
        }
        
        @media (min-width: 1728px) {
            padding: 98px 80px 22px 80px;
        }
        
        .product-card__name {
            @media (min-width: 768px) {
                font-size: 64px;
                line-height: 88px;
                text-align: center;
                margin-bottom: 41px;
            }
            
            @media (min-width: 1728px) {
                text-align: start;
                margin-bottom: 20px;
                width: 625px;
            }
        }
        
        .product-card__img {
            @media (min-width: 768px) {
                width: 470px;
            }
            
            @media (min-width: 1728px) {
                width: 761px;
                height: 731px;
            }
        } 
        
        .product-card__price-wrapper {
            @media (min-width: 768px) {
                gap: 68px;
            }
        }
            
        .product-card__price {
            @media (min-width: 768px) {
                font-size: 48px;
                line-height: 66px;
            }
        }
            
        .product-card__old-price {
            @media (min-width: 768px) {
                font-size: 24px;
                line-height: 29px;
                transform: translateY(-8px);
            }
        }
            
        .product-card__arrow-icon {
            @media (min-width: 768px) {
                background-image: url("../img/arrow_icon-large.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-color: #000;
                border-radius: 50%;
                width: 65px;
                height: 65px;
                right: 40px;
                bottom: 55px;
            }
            
            @media (min-width: 1728px) {
                background-image: url("../img/arrow_icon-big.svg");
                width: 118px;
                height: 118px;
                right: 81px;
                bottom: 67px;
            }
        }
    }
    
    &--popular {
        padding: 0px 35px 30px ;
        background-color: #D9D9D926;
    }
    
    &--hot {
        &::before {
            position: absolute;
            background-image: url("../img/hot_icon.svg");
            background-repeat: no-repeat;
            width: 59px;
            height: 32px;
            left: -2px;
            top: 51px;
            content: 'Hot!';
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            filter: drop-shadow(8px 7px 16px #00000040);
            
            @media (min-width: 768px) {
                width: 120px;
                height: 65px;
                font-size: 36px;
                line-height: 60px;
            }
        }
    }
    
    &--new {
        &::before {
            position: absolute;
            background-image: url("../img/new_icon.svg");
            background-repeat: no-repeat;
            width: 59px;
            height: 32px;
            left: -2px;
            top: 51px;
            content: 'New';
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            filter: drop-shadow(8px 7px 16px #00000040);
        }
    }
    
    &__img {
        width: 212px;
        display: block;
        margin: 0 auto;
        
        @media (min-width: 1728px) {
            width: 363px;
        }
        
        &--popular {
            width: 250px;
            filter: drop-shadow(0px 3px 2px #00000005)
            drop-shadow(0px 7px 5px #00000007)
            drop-shadow(0px 12px 10px #00000009)
            drop-shadow(0px 22px 18px #0000000B)
            drop-shadow(0px 42px 33px #0000000D)
            drop-shadow(0px 100px 80px #00000012);
        }
    }
    
    &__name {
        font-size: 24px;
        line-height: 33px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 22px;
    }
    
    &__price-wrapper {
        display: flex;
        align-items: baseline;
        gap: 20px;
        
    }
    
    &__price {
        font-size: 24px;
        line-height: 33px;
        
        &--popular {
            font-weight: 500;
            line-height: 29px;
        }
    }
    
    &__old-price {
        font-size: 18px;
        line-height: 25px;
        margin-right: auto;
    }
    
    &__arrow-icon {
        position: absolute;
        right: 20px;
        bottom: 30px;
        background-image: url("../img/arrow_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000;
        border-radius: 50%;
        transform: translateY(8px);
        width: 38px;
        height: 38px;
        cursor: pointer;
        
        @media (min-width: 768px) {
            right: 30px;
            bottom: 30px;
        }
        
        @media (min-width: 1728px) {
            width: 58px;
            height: 58px;
            right: 40px;
            bottom: 40px;
        }
        
        &--popular {
            width: 40px;
            height: 40px;
            right: 35px;
            bottom: 30px;
        }
    }
}