.show-all {
    font-size: 28px;
    font-weight: 600;
    line-height: 43px;
    background-color: black;
    color: white;
    padding: 17px 50px;
    display: block;
    width: 290px;
    height: 77px;
    text-align: center;
}